* {
    box-sizing: border-box;
}

element {
    padding: 15px 20px; 
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #8e24aa;
    color: #ce93d8;
}

body {
    background-color: #e8bcf0;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

h2 {
    color: #4a148c;
    text-align: center;
}

footer {
    background-color: #8e24aa;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    color: #ce93d8;
}

nav a{
    color: white; 
    text-decoration: none;
    font-weight: bold; 
    margin: 0 5px; 
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
    text-align: center;
}

.contract-paragraph {
    text-align: left;
    margin: 20px auto;
    max-width: 1000px;
    font-size: 6mm;
    display: inline-block;
    border:3px solid white;
    padding: 40px;
}
